:root {
  --bg-nav: #C5D0E6;
  --burger-color: #0E1734;
}

.header {
  position: relative;
}

.header__burger{
  display: flex;
  order: 100;
  align-self: flex-start;
}
@media (max-width: 767px) {
  .nav__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--bg-nav);
    box-sizing:  border-box;
    padding: 10px 50px;
    margin: 0;
    z-index: 2;
    width: 100%;
  }

  .nav__list {
    display: block;
    position: absolute;
    top: 80px;
    z-index: 2;
    left: -1000px;
  }

  .header__burger {
    display: none;
  }

  .header-container {
    z-index: 100;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin: 10px;
    position: relative;
    z-index: 3;
  }

  .header__burger:before {
    content: "";
    background-color: var(--burger-color);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
    transition: all 0.5s ease 0s;
  }

  .header__burger:after {
    content: "";
    background-color: var(--burger-color);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    transition: all 0.5s ease 0s;
  }

  .header__burger span {
    position: absolute;
    background-color: var(--burger-color);
    left: 0;
    height: 2px;
    width: 100%;
    top: 9px;
    transition: all 0.5s ease 0s;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .nav__list {
    transition: all 0.5s ease 0s;
  }

  .nav__list.active {
    display:  block;
    top: 80px;
    left: 0;
  }

  .header__nav-link {
    padding-bottom: 10px;
  }
}