@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Montserrat&display=swap');
@import url('./burger.css');

:root {
  --bg-dark: #0E1734;
  --ligth-ligth-pirple: #A7ACB9;
  --ligth-pirple: #848FAC;
  --pirple: #424F7B;
  --orange: #FF620A;
  --padding-big: 48px;
  --padding-medium: 32px;
  --padding: 24px;  
  --padding-small: 16px;
}

/*----------Tegs------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
	scroll-behavior: smooth;
}
ul {
	display: flex;
	justify-content: center;
	align-items: center;
}
li{
  list-style: none;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: var(--orange);
  transition: all 0.3s linear;
}
button {
	cursor: pointer;
}
.btn:hover {
  background-color: var(--orange);
  color: var(--bg-dark);
  transition: all 0.3s linear;
}
h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Montserrat', sans-serif;
  color: var(--bg-dark);
}

/*----------Container------------------*/

.wrapper {
	display: flex;
	flex-direction: column;
	max-width: 1920px;
	align-items: center;
	margin: 0 auto;
}
.section {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	padding: 80px 120px;	
}
.container  {
  display: flex;
	width: 100%;
  align-items: center;
}
.container_vert {
  flex-direction: column;
}

/*---------Fonts-----------*/

.section__title_big {
  font-weight: 600;
  font-size: 48px;
  padding-bottom: var(--padding);
  color: var(--bg-dark);
  line-height: 150%;
}
.section__title {
  font-weight: 600;
  font-size: 36px;
  padding-bottom: var(--padding);
  color: var(--bg-dark);
  line-height: 150%;
}
.section__p {
  font-weight: 400;
  font-size: 16px;
  color: var(--ligth-pirple);
  line-height: 165%;
  max-width: 585px;
  letter-spacing: 0.5px;
}

/*-----------Containers---------------*/

.main, .footer, header {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  justify-content: center;
  padding: 0 120px;
  .header-container {
    display: flex;
    height: 120px;
    justify-content: space-between;
    flex-direction: row;
    .header__nav {
      display: flex;
      .header__nav-link {
        margin-right: 32px;
        color: var(--bg-dark);
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        font-family: 'Montserrat', sans-serif;
      }
      .header__nav-link:last-child {
        margin-right: 0;
      }
    } 
  }
}

.section__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.section__item_horiz {
  flex-direction: row;
}
.section__item_vert {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.step-container {
  display: flex;
  justify-content: space-between;
}
.first__img-container {
  margin: 0 0 80px 24px;
}
.first__img-container:nth-child(2n) {
  margin: 80px 0 0 24px;
}
.first__p {
  line-height: 165%;
  letter-spacing: 0.5px;
  max-width: 485px;
}
.btn {
  font-size: 16px;
  padding: 17px 32px;
  margin: var(--padding-small) 0 0 0;
  display: block;
  background-color: white;
  box-shadow: none;
  border: none;
  color: var(--pirple);
  border-radius: 4px;
  margin-right: 10px;
}
.btn_get {
  margin: 0;
}
.btn_dark {
  background-color: var(--bg-dark);
  color: white;
}
.btn_left {
  margin-right: 0px;
}
.second__item_last {
  margin-bottom: 0;
}
.second__img-container, .second__img-container {
  margin-right: 126px;
  max-width: 384px;
}
.second__img_left {
  margin-left: 126px;
  margin-right: 0;
}
.second__p {
  margin-bottom: var(--padding-small);
}
.second__button {
  margin-bottom: var(--padding-medium);
}
.section__item_center {
  align-items: center;
  margin-bottom: var(--padding-small);
}
.btn_withArrow {
  position: relative;
  padding-left: 0;
}
.btn_withArrow::after {
  content: '';
  background: url(./images/arrow_right.svg);
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc( 50% - 10px );
  right: 5px;
}
.item__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 30%;
  height: 100%;
  .card__title {
    font-size: 32px;
    padding-bottom: var(--padding-small);
  }
  .card__img {
    margin-bottom: var(--padding-medium);
  }
}
.section__button-container {
  display: flex;
}
.item__step {
  padding: 22px 20px;
  margin: 15px;
  box-shadow: 0 0 25px var(--ligth-ligth-pirple);
  .step__icon {
    background: url('./images/arrow_down.svg');
    min-width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s linear;
  }
  .step__icon_activ {
    background: url('./images/arrow_up.svg');
  }
}

.title_small {
  font-size: 24px;
}
.step-container_hide {
  display: flex;
  transition: max-height 0.5s linear;
  overflow: hidden;
  max-height: 0px;
}
.step-container_hide.step-container_hide_activ {
  max-height: 120px;
  transition: max-height 0.5s linear;
}
.bg-img {
  width: 100%;
  height: auto;
}
.fourth {
  justify-content: space-between;
  align-items: flex-start;
}
.fourth__item {
  flex-basis: 55%;
}
.fourth__item_first {
  flex-basis: 35%;
}
.card_p {
  max-width: 360px;
}

.fifth {
  display: flex;
  flex-direction: column;
  .fifth__slider {
    width: 80%;
    .review {
      display: flex;
      flex-direction: column;
      align-items: center;
      .review__text {
        text-align: center;
        margin: var(--padding-medium) auto;
      }
      .review__name {
        margin-bottom: var(--padding-small);
      }
      // max-width: 580px;
    }
  }
}

.section__p {
  margin-bottom: var(--padding-small);
}
.first__item {
  flex-basis: 50%;
}
.first__item_pad {
  margin-bottom: 50px;
}
.section__item_start {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.footer {
  width: 100%;
  justify-content: center;
  background-color: var(--bg-dark);
  color: white;
  font-family: 'Montserrat', sans-serif;
  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 120px;
    .footer__menu {
      display: flex;
      .menu__column {
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        .menu__title {
          font-style: normal;
          font-weight: 700;
          color: white;
        }
        .menu__list {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .footer__nav-item {
            margin-top: var(--padding);
          }
        }
      }
    }
    .footer__info {
      display: flex;
      max-width: 190px;
      flex-direction: column;
      .footer__logo {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        margin-bottom: var(--padding-small);
      }
      .footer__text {
        margin-bottom: var(--padding-medium);
      }
      .footer__social {
        display: flex;
        .social__icon {
          margin-right: var(--padding);
        }
      }
    }
    .footer__nav-link {
      color: white;
    }
  }
}

@media (max-width: 1064px) {
  .header {
    padding: 1rem 2rem;
    .header-container {
      height: auto;
    }
  }
  .container {
    flex-direction: column;
  }
  .section {
    padding: 3rem 2rem;	
  }
  .section__title_big {
    font-size: 30px;
  }
  .section__title, .card__title {
    font-size: 26px;
  }
  .section__item_start, .section__item_vert {
    flex-direction: column;
  }
  .item__card {
    align-items: center;
  }
  .item_2 {
    order: 2;
  }
  .second__img-container {
    margin: 0;
  }
  .second__item {
    align-items: flex-start;
  }
  .btn {
    padding: 10px 22px;
    margin-right: 10px;
  }
  .btn_get {
    margin: 0;
  }
  .item__step {
    padding: 22px 20px;
  }
  .footer {
    .footer-container {
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem 2rem;
      .footer__menu {
        flex-wrap: wrap;
        .menu__column {
          margin-right: 60px;
          margin-left: 0;
          margin-top: var(--padding-medium);
        }
      }
    }
  }
  
}
@media (max-width: 500px) {
  .btn_get {
    display: none;
  }
  .section__title_big {
    font-size: 36px;
  }
  .section__title {
    font-size: 24px;
  }
  .item__card {
    .card__title {
      font-size: 24px;
    }
  }
}